
@media screen and (min-width:601px) {

body {
	min-width:510px;
	max-width:878px;
	margin:auto;
	padding-right:5px;
	padding-bottom:5px;
	overflow:auto;
	font-family:arial;
	background-color:black;
}

div.toplayout {
	display:flex;
	display:-webkit-flex;
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	width:100%;
}

div.navbox {
	display:flex;
	display:-webkit-flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	width:60px;
	height:200px;
	margin-top:154px;
	margin-left:5px;
	margin-right:5px;
	background-color:black;
}

div.nav {
	width:100%;
	height:20px;
	line-height:20px;
	position:relative;
	font-size:18px;
	text-align:center;
	padding:1px;
	background-color:white;
	color:black;
}

/* for making the whole div a link */
span.navlink { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left:0;

  z-index: 1;

  /* IE7/8 overlap error fix */
  background-image: url('empty.gif');
}

div.content {
	min-width:450px;
	max-width:800px;
	margin:auto;
	padding-bottom:8px;
	font-size:18px;
	background-color:white;
}

div.mobile {
	display:none;
}

div.contentflex {
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	width:100%;
}

.left {
	width:48.2%;
	padding-left:1%;
	padding-right:0.5%;
	border-right:3px solid black;
}

.right {
	width:48.2%;
	padding-left:0.5%;
	padding-right:1%;
	border-left:3px solid black;
}

.break {
	max-width:100%;
	max-height:152px;
	clear:both;
	padding-left:1%;
	padding-right:1%;
	margin-top:10px;
}

.justify {
	text-align:justify;
}

div.footer {
	max-width:100%;
	font-size:9px;
	color:white;
	background-color:black;
	padding:10px;
	margin-top:10px;
}

span.red {
	color:red;
	font-family:arial black;
}


h1 {
	text-align:center;
	font-family:cambria math;
	font-size:40px;
}

h1.title {
	color:white;
	background-color:black;
	font-size:55px;
	padding:45px;
	margin:auto;
	max-width:800px;
}

h2 {
	text-align:center;
	font-size:27px;
}


a:link, a:visited {
	color:blue;
	text-decoration:none;
}

a:hover, a:active {
	color:blue;
	text-decoration:underline;
}


a.titlelink:link, a.titlelink:hover, a.titlelink:active, a.titlelink:visited {
	color:white;
	text-decoration:none;
}



body.egg {
	background-color:pink;
	color:rgb(0,200,200);
	text-align:center;
	font-size:100px;
}

button.eggback {
	font-size:83px;
}

}





@media screen and (max-width:841px) {
	
div.nav {
	font-size:16px;
}
	
}





@media screen and (max-width:749px) {

div.navbox {
	height:186px;
}
	
div.nav {
	font-size:14px;
	height:18px;
	line-height:18px;
}

div.content {
	font-size:16px;
}

}





@media screen and (max-width:703px) {

div.navbox {
	margin-top:143px;
}

div.nav {
	font-size:12px;
}

div.content {
	font-size:14px;
}

h1 {
	font-size:32px;
}

h1.title {
	font-size:45px;
}

h2 {
	font-size:20px;
}

}





