html {
	background-color: black;
	font-family: Helvetica, sans-serif;
}

body {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	min-width: 280px;
	max-width: 820px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	border: 10px solid black;
	border-radius: 30px;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.header, .header:hover {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	background-color: black;
	color: white;
	font-size: 45px;
	font-variant: small-caps;
	border-radius: 15px;
	text-decoration:none;
}

h2 {
	margin-top: 0;
	text-indent: 1em;
}

nav {
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 5px;
	border: solid black 10px;
	border-radius: 15px;
}

navitem {
	position: relative;
	margin: 5px;
	padding: 10px;
	background-color: black;
	color: white;
	font-size: 18px;
	font-variant: small-caps;
	border-radius: 50%;
}

.navlink {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

content {
	flex: 1;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin: -10px;
}

div {
	min-width: 280px;
	max-width: 350px;
	margin: 0 auto;
}

content > div {
	margin: 10px;
}

p {	
	text-align: justify;
}

content > div > p {
	text-indent: 1em;
}

div > img {
	width: 100%;
	height: auto;
}

li {
	margin-bottom: 10px;
}

footer {
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
	border-radius: 15px;
	background-color: black;
	color: white;
	font-size: 10px;
}

hr {
	width: 100%;
	height: 0;
	margin: 0 10px;
}

red {
	display: inline;
	color: red;
	font-family: "Arial Black";
}

.bold {
	font-weight: bold;
}

a {
	color:blue;
	font-weight: bold;
}

a:link, a:active, a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}